:root {
    --main-color: #009c7d;
    --main-color-hover: rgb(0, 214, 171);
    
    --tab-color: #f4811f;

    --dark-font: rgb(35, 35, 35);
    --medium-font: rgb(70, 70, 70);
    --light-font: rgb(105, 105, 105);
    --shadow: 0 0 5px rgba(0, 0, 0, .20);
}

* {
    font-family: "Roboto";
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


/* Globals */


.separator {
    border: 3px solid var(--main-color);
    border-radius: 3px;

    margin: 10px 0;
    width: 20px;
}


/* Scroll */


::-webkit-scrollbar {
    display: none;
}