:root {
    --main-color: rgb(0, 192, 153);
    --main-color-hover: rgb(0, 214, 171);
    
    --tab-color: #f4811f;

    --dark-font: rgb(35, 35, 35);
    --medium-font: rgb(70, 70, 70);
    --light-font: rgb(105, 105, 105);
    --shadow: 0 0 5px rgba(0, 0, 0, .20);
}

* {
    overflow: hidden;
    font-family: "Roboto";
}

body {
    margin: 0;
    background-color: #e9ecef;
}


/* Globals */


h1, h2, h3, p {
    margin: 0;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 16px;
}

p {
    font-size: 12px;
}


.separator {
    border: 3px solid var(--main-color);
    border-radius: 3px;

    margin: 10px 0;
    width: 20px;
}