/* Page */


.display-page-header {
    display: flex;
    justify-content: space-between;

    color: var(--main-font);
    margin-bottom: 16px !important;
}

.display-page-cont {
    border-radius: 12px;

    height: calc(100vh - var(--nav-height) - 152px);
    
    overflow-x: hidden;
    overflow-y: auto;
}


/* Button */


.display-button-skeleton-cont {
    padding: 7px;
    display: flex;
    align-items: center;
}

.display-skeleton-type {
    margin-right: 10px;
}

.display-button-cont {
    display: flex;
    justify-content: left !important;

    padding: 7px !important;
    width: 100%;
}

.display-type {
    background-color: var(--main-color);
    color: #fff;
    border-radius: 8px;

    padding: 7px 10px;
    margin-right: 10px;
}

.display-detail {
    text-align: left;
    
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;

    width: 100%;

    overflow: hidden;
}


/* Float Button */


.float-button {
    position: absolute !important;
    bottom: 20px;
    right: 20px;
}


/* Details */


.display-details-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 16px;
}

.display-details-header {
    display: flex;
    align-items: center;

}

.display-details-header .detail {
    background-color: var(--main-color);
    color: #fff;
    border-radius: 12px;

    padding: 8px 12px;
    margin-right: 10px;
}

.display-details-content-cont {
    border-radius: 12px;

    height: calc(100vh - var(--nav-height) - 145px);
    
    overflow-x: hidden;
    overflow-y: auto;
}
