.add-page-card {
    max-width: 500px;
}

.add-page-header {
    margin-bottom: 15px;
}

.add-page-button {
    border-radius: 8px !important;
}

.add-page-inputs-cont{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add-page-input {
    width: 100%;
    max-width: 300px;
}