.add-page-header {
    margin-bottom: 16px;
}

.add-page-card-header span {
    font-weight: 400;
    opacity: 50%;
}

.step-three.add-page-label {
    margin: 16px 0 12px !important;
}

.label {
    margin-bottom: 8px !important;
}

.add-page-input {
    border-radius: 8px !important;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border-radius: 8px !important;
}

.add-page-button {
    border-radius: 8px !important;
}