.add-page-header {
    margin-bottom: 15px;
}

.add-page-card {
    max-width: 400px;
}

.add-page-card-header span {
    font-weight: 400;
    opacity: 50%;
}

.add-page-input-label-cont {
    display: flex;
    justify-content: space-between;
}

.add-page-input-label-cont .detail {
    font-weight: 400;
    opacity: 50%;
}

.step-three.add-page-label {
    margin: 15px 0 !important;
}

.add-page-inputs-cont{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add-page-input {
    border-radius: 8px !important;
    width: 100%;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border-radius: 8px !important;
}

.add-page-button {
    border-radius: 8px !important;
}