.orders-header {
    color: var(--main-font);
    margin-bottom: 15px !important;
}

.orders-buttons {
    border-radius: 12px;

    height: calc(100vh - var(--nav-height) - 145px);
    
    overflow-x: hidden;
    overflow-y: auto;
}