.header-deposit {
    font-weight: 600;
    color: rgb(70, 70, 70);
}

.header-zone {
    font-weight: 400;
    color: rgb(110, 110, 110);
}

.zone-menu-content {
    padding: 15px;
    width: 100%;
}