.order-button-cont {
    background-color: #fff;
    color: var(--main-font);

    display: flex;
    align-items: center;
    justify-content: left !important;

    padding: 10px !important;
    width: 100%;

    cursor: pointer;
}

.order-number {
    background-color: var(--main-color);
    color: #fff;
    border-radius: 8px;

    padding: 7px 10px;
    margin-right: 10px;
}