.despachado {
    background-color: rgb(210, 255, 210) !important;
}
.order-card-header{ 
    font-weight: 400 !important;
}

.order-card-header .number {
    font-weight: 500;
}

.order-card-table-cont {
    font-weight: 400;
}

.order-card-table-item {
    display: flex;
    justify-content: space-between;
}

.order-card-table-item .number {
    font-weight: 500;
}

.order-card-item {
    margin-bottom: 7px !important;
}

.order-card-button {
    border-radius: 8px !important;
}

.despachado:disabled {
    border-color: var(--main-color) !important;
    color: var(--main-color) !important;
}