.order-card-cont {
    background-color: #fff;
    border-radius: 12px;

    padding: 15px;
}

.order-card-header {
    color: var(--dark-font);
}

.order-card-header .number {
    color: var(--medium-font);
    font-weight: 400;
}

.order-card-hr {
    border: 3px solid var(--main-color);
    border-radius: 3px;

    margin: 10px 0;
    width: 20px;
}

.order-card-table-cont {
    color: var(--dark-font);
    font-weight: 500;
}

.order-card-table-item {
    display: flex;
    justify-content: space-between;
}

.order-card-table-item .number {
    color: var(--medium-font);
    font-weight: 400;
}

.order-card-item {
    margin-bottom: 7px;
}

.order-card-button {
    background-color: var(--main-color);
    color: #fff;
    border: unset;
    border-radius: 8px;

    padding: 10px 15px;
    margin-top: 10px;
}