.main-page-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 15px;
    height: 75vh;
}

.main-page-header {
    display: flex;
    justify-content: center;
    text-align: center;

    margin-bottom: 30px;
}

.main-page-deposit-buttons {
    display: flex;
    flex-direction: column;

    border-radius: 12px;

    margin: 0 auto;
    width: 100%;
    max-width: 450px;
    height: fit-content;
    max-height: 400px;

    overflow: auto;
}

.main-page-deposit-button {
    padding: 12px !important;
    margin-bottom: 15px !important;
}