.main-page-cont {
    display: flex;
    flex-direction: column;

    padding: 80px 15px 15px;
    height: calc(100vh - 95px);
}

.main-page-header {
    display: flex;
    justify-content: center;
    text-align: center;

    margin-bottom: 30px;
}

.main-page-deposit-buttons {
    display: flex;
    flex-direction: column;

    border-radius: 12px;

    margin: 0 auto;
    width: 100%;
    max-width: 450px;
    height: 100%;
    max-height: 500px;

    overflow: auto;
}

.main-page-deposit-button {
    margin-bottom: 15px !important;
}