.main-page-cont {
    display: flex;
    flex-direction: column;

    padding: 20px;
    height: calc(100vh - var(--nav-height) - 40px);
}

.main-page-header {
    margin-bottom: 20px !important;
}

.main-page-card {
    display: flex;
    flex-direction: column;

    padding: 15px;
    max-width: 500px;

    overflow: hidden;
}

.main-page-buttons-cont {
    display: flex;
    flex-direction: column;
    gap: 12px;

    border-radius: 12px;

    margin-top: 12px;
    max-height: 100%;
    
    overflow: auto;
}

.main-page-deposit-button {
    padding: 10px !important;
}