.page-cont {
    display: flex;
    
    height: 100vh;
}

.sidebar-state {
    background-color: var(--main-color);

    padding: 5px 15px;
    width: fit-content;
}

.sidebar-state.active {
    width: 260px;
}

.page-content-cont {
    padding: 15px 0;
    max-height: 100vh;
    width: 100%;
}

.page-content-header {
    font-size: 32px;
    margin: 0 0 15px 15px;
}
