.drop-btn-cont {
    background-color: rgba(255, 255, 255, .30);
    color: #fff;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 15px;
    padding: 10px 15px;

    cursor: pointer;
}

.drop-btn-cont.dropped {
    padding-bottom: 15px;
    height: fit-content;

    cursor: unset;
}

.drop-btn-cont:hover {
    background-color: rgba(255, 255, 255, .40);
}

.drop-btn-cont.dropped:hover {
    background-color: rgba(255, 255, 255, .30);
}

.drop-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

.drop-btn-arrow.dropped {
    rotate: 90deg;
}

.drop-btn-buttons-cont {
    width: 100%;
}