.sidebar-open {
    display: block;
}

.sidebar-closed {
    display: none;
}

.sidebar-cont {
    position: sticky;
}

.sidebar-header {
    display: flex;
    align-items: center;

    color: #fff;

    width: fit-content;
}

.sidebar-icon {
    color: #fff;

    width: 30px !important;
    height: auto !important;
}

.sidebar-header-text {
    margin-left: 10px;
}

.sidebar-buttons-cont {
    margin: 30px 0;
}