.zone-btn-cont {
    background-color: transparent;
    color: #fff;
    border: unset;
    border-radius: 10px;

    display: flex;
    align-items: center;

    width: 100%;
    margin-top: 10px;
    padding: 10px 15px;

    cursor: pointer;
}

.zone-btn-cont:hover {
    background-color: rgba(255, 255, 255, .30);
}